img {
  background-color: white;
  padding: 0.5rem;
  padding-bottom: 1.7rem;
  border: 2px solid gray;
  width: 15rem;
  height: 15rem;
  opacity: 0.5; /* transparaion  */
  position: absolute;
  transition: 4s;
  z-index: auto;
  filter: grayscale(90%);
}
#img1 {
  transform: rotate(20deg);

  top: 40%;
  left: 30%;
}
#img2 {
  transform: rotate(30deg);

  top: 30%;
  right: 30%;
}

#img3 {
  transform: rotate(22deg);

  top: 10%;
  right: 20%;
}
#img4 {
  transform: rotate(16deg);

  top: 44%;
  right: 40%;
}
#img1:hover {
  filter: grayscale(10%);
  transform: translateZ(1);
  cursor: progress;
  object-position: 1;
  transition: 2s;
}
#img2:hover {
  filter: grayscale(10%);
  transform: translateZ(1);
  cursor: progress;
  object-position: 1;
  transition: 2s;
}
#img3:hover {
  filter: grayscale(10%);
  transform: translateZ(1);
  cursor: progress;
  object-position: 1;
  transition: 2s;
}
#img4:hover {
  filter: grayscale(10%);
  transform: translateZ(1);
  cursor: progress;
  object-position: 1;
  transition: 2s;
}
